{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}
<div class="">
    <table class="table table-info table-hover table-bordered table-sm">
        <thead>
        <tr>
            <th scope="col">شماره تلفن</th>
            <th scope="col"> ایمیل<br><small><a href="{% url 'accounts:change_profile' %}">تغییر ایمیل</a></small></th>
            <th scope="col">نام <br><small><a href="{% url 'accounts:change_profile' %}">تغییر نام</a></small></th>
            <th scope="col">فامیلی

                <br><small><a href="{% url 'accounts:change_profile' %}">تغییر فامیلی</a></small>
            </th>
            <th scope="col"> تاریخ تولد
                {% if not request.user.profile.date_of_berth %}
                <br><small><a href="{% url 'accounts:change_birth' %}">تغییر </a></small>
                {% endif %}
            </th>
<!--            <td scope="col"><br><small><a href="{% url 'accounts:change_profile' %}">تغییر ایمیل</a></small>آدرس</td>-->
            <th scope="col">رمز عبور</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{request.user.phone_number}}</td>
            <td>{{request.user.profile.email}}</td>
            <td>{{request.user.profile.first_name}}</td>
            <td>{{request.user.profile.last_name}}</td>
            <td>{{request.user.profile.date_of_berth}}</td>

            <td><a href="{% url 'accounts:change_password' %}"> تغییر رمز عبور</a></td>
        </tr>

        </tbody>
    </table>
</div>  <p>{{request.user.profile.address}}</p>


{% endblock %}