{% extends 'bace.html' %}
{% block content %}

<div class="main-menu">


    <div class="container">

        <div class="row">

            {% for item in categories %}
            <div class="col-md-12">

                <ul>
                    <li><a href="">{{ item.name }}</a>
                        <ul>
                            <br>
                            {% for sub in item.scategory.all %}
                            <li><a href="{{ sub.get_absolute_url }}">{{ sub.name }}</a>
                            </li>
                            {% endfor %}


                            </li>
                        </ul>

            </div>

            {% endfor %}

        </div>

    </div>

</div>


<br>
<!---------------------------------->


<div class="container">
    <div class="row">

        <div class="col-md-12">
            {% for item in products %}
            <div class="one-slider">
                <h4>{{ item.title }}</h4>
                <p>{{ item.price }}</p>
                <img src="{{ item.image.url }}" alt="333">
                <a href="{{ item.get_absolute_url }}" >Go</a>
                <hr>
            </div>

            {% endfor %}
        </div>


    </div>

</div>


{% endblock %}


