{% extends 'base.html' %}

{% block content %}


{% if item.address %}
{% for item in address %}
{{ item.address }}
<input type="submit" value="delete" class="btn btn-outline-primary">
{% endfor %}
{% endif %}

{% if item.address is none %}
<form action="" method="post" novalidate>
    {{ form_address.as_p }}
    {% csrf_token %}
    <input type="submit" value="ثبت" class="btn btn-outline-primary">
</form>
{% endif %}


<form action="{% url 'orders:apply_coupon' %}" method="post" novalidate>
    {{ form }}
    {% csrf_token %}

    <input type="submit" value="اعمال" class="btn btn-outline-primary">
</form>


{% endblock %}